* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.links {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.links:hover {
  color: rgba(175, 96, 85, 0.973);
  text-decoration: underline;
}

.links {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.links:hover {
  color: rgba(175, 96, 85, 0.973);
  text-decoration: underline;
}

.header {
  overflow: hidden;
}

.header .navbar {
  background-color: #a2c9c9;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar__logo {
  width: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 5px #787;
          box-shadow: 0 0 5px 5px #787;
}

.imagenDeFondoHero {
  background-image: url(../assets/fondoDeRopa.png);
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(240, 248, 255, 0.767);
  text-decoration: none;
  font-size: 20px;
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
  overflow: hidden;
}

.hero {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: start;
}

.sectionDos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative;
  height: 105vh;
  overflow: hidden;
}

.sectionDos__nosotrosUno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
}

.sectionDos__nosotrosDos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 40px;
}

.sectionDos__nosotrosDos--imagen {
  -webkit-box-shadow: 10px 2px 30px 2px #2b2929;
          box-shadow: 10px 2px 30px 2px #2b2929;
  padding: 0px;
}

.sectionCarousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.sectionTres {
  position: relative;
  font-style: normal;
  padding: 40px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.sectionTres__imagenes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  place-content: center;
}

.sectionTres__imagenes-cuadro {
  display: inline-block;
  background-color: #a2c9c9;
  -webkit-box-shadow: 10px 2px 30px 2px #2b2929;
          box-shadow: 10px 2px 30px 2px #2b2929;
  padding: 10px 0px;
  text-align: center;
  font-size: 20px;
  width: 300px;
  margin: 110px 60px;
}

.links {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.links:hover {
  color: rgba(175, 96, 85, 0.973);
  text-decoration: underline;
}

.footer {
  background-color: #a2c9c9;
  overflow: hidden;
}

.footer__logo {
  margin: 10px;
  width: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 5px #787;
          box-shadow: 0 0 5px 5px #787;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__partes {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  padding: 10px 20px;
}

.footer__partes__secciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
}

.footer__contacto__list {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

.links {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.links:hover {
  color: rgba(175, 96, 85, 0.973);
  text-decoration: underline;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .imagenDeFondoHero {
    height: 100vh;
    overflow: hidden;
  }
  .hero {
    position: absolute;
    top: 25%;
  }
  .sectionDos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    height: 170vh;
  }
  .sectionCarousel {
    height: 70vh;
  }
  .sectionTres__imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectionUno__titulo {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header__logo {
    width: 100%;
  }
  .grid__remYbuz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow: hidden;
  }
  .imagenes__ropa {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 25px 10px;
  }
  .ancho__imagen {
    width: 250px;
  }
  .formulario__cuadro {
    width: auto;
    margin: 10px 0px;
  }
}

.titulo__ropa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 70px 0px 10px 0px;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
}

.imagenes__ropa {
  background-color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.imagenes__ropa--img {
  position: relative;
  -webkit-transition: 3s -webkit-transform;
  transition: 3s -webkit-transform;
  transition: 3s transform;
  transition: 3s transform, 3s -webkit-transform;
  display: block;
  height: 100%;
  overflow: hidden;
}

.imagenes__ropa--img:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.imagenes__ropa--descripcion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

.imagenes__filas {
  padding: 5px 5px 30px 5px;
}

.imagenes__section {
  display: block;
  overflow: hidden;
  position: relative;
}

.imagenes__talles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
  padding: 20px;
}

.imagenes__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.links {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.links:hover {
  color: rgba(175, 96, 85, 0.973);
  text-decoration: underline;
}

.formulario {
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.formulario__cuadro {
  border: solid 2px #a2c9c9;
  margin: 10px;
  padding: 30px;
  width: 500px;
}

.formulario__titulo {
  color: #a2c9c9;
}

.formulario .button {
  background-color: #a2c9c9;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .imagenDeFondoHero {
    height: 100vh;
    overflow: hidden;
  }
  .hero {
    position: absolute;
    top: 25%;
  }
  .sectionDos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    height: 170vh;
  }
  .sectionCarousel {
    height: 70vh;
  }
  .sectionTres__imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectionUno__titulo {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header__logo {
    width: 100%;
  }
  .grid__remYbuz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow: hidden;
  }
  .imagenes__ropa {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 25px 10px;
  }
  .ancho__imagen {
    width: 250px;
  }
  .formulario__cuadro {
    width: auto;
    margin: 10px 0px;
  }
}
/*# sourceMappingURL=main.css.map */