@import "./variables";
@import "./componentes";
@mixin columna {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
}

.footer{
    background-color: $formulario;
    overflow: hidden;

    &__logo{
    margin: 10px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #787;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

    &__partes{
    color: $blanco;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $letraSubtitulo;
    font-size: 18px;
    justify-content: space-between;
    gap: 40px;
    padding: 10px 20px;

    &__secciones{
    @include columna;
}
}

    &__contacto__list{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    }
}


