@import "./variables";
@import "./componentes";
@mixin columna {
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    background-color: #454544;
    overflow: hidden;

    &__logo{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px #787;
}

    &__partes{
    color: $blanco;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $letraSubtitulo;
    font-size: 18px;
    justify-content: space-between;
    gap: 40px;
    padding: 10px 80px;

    &__secciones{
    @include columna;
    justify-content: flex-start;
    align-items: flex-start;
}

    &__redes{
    @include columna;
    justify-content: flex-start;
    align-items: flex-start;
}
}

    &__contacto__list{
    @include columna;
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
}
}

