@import "./variables";

.header{
    overflow: hidden;

    &__item--links{
    font-family: $verdana;
    color: $blanco;
    text-decoration: none;

    &:hover{
    color: $naranja;
    text-decoration: underline;
}
} 
    .navbar{
    background-color: rgba(15, 15, 15, 0.842);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}