@import "./componentes";
@import "./variables";

.header{
    overflow: hidden;

    &__item--links{
    font-family: $letraSubtitulo;
    color: $blanco;
    text-decoration: none;

    &:hover{
    color: $naranja;
    text-decoration: underline;
}
} 

    .navbar{
    background-color: #454544;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        width: 200px;
        border-radius: 50%;
        box-shadow: 0 0 5px 5px #787;
}
}
}