/*MEDIA QUERIES*/
@media screen and (max-width: 768px){

    .footer__logo{
        width: 60%;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .imagenDeFondoHero{
        height: 100vh;
        overflow: hidden;
    }
    
    .hero{
        position: absolute;
        top: 25%;
    } 
    
    .sectionDos{
        grid-template-columns: repeat(1, 1fr);
        height: 150vh;
    }

    .sectionTres__imagenes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center; 
    }
    
    .sectionUno__titulo{
        padding: 10px; 
        display: flex;
        flex-direction: column;
        width: auto;
    }
    
    .header__list{
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    .header__logo{
        width: 100%;
    }
    
    .grid__remYbuz{
        display: flex;
        flex-direction: column;
        align-content: center;
        overflow: hidden;
    }
    
    .imagenes__ropa{
        width: auto;
        flex-direction: column;
        align-content: center;
    }
    
    .ancho__imagen{
        width: 300px;
    }

    .formulario__cuadro{
        width: auto;
        margin: 10px 0px;
    }
    }