@import "./variables";
@import "./componentes";
@import "./queries";
@mixin ropa {
    display: flex;
    align-items: center;
    align-content: center;
}

.titulo__ropa{
    @include ropa;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255,255,255,0.9);
    padding: 50px 0px;
    font-size: 3rem;
    font-family: $letraTitulo;
    color: $colorBase;
    text-decoration: none;
}

.imagenesRow {
    @include ropa;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 40px 10px;
}

.imagenesFilas {
    @include ropa;
    flex-direction: column;
    padding: 5px 5px 30px 5px;

    &__description {
        @include ropa;
        position: relative;
        justify-content: center;
        margin: 0px;
    }
}

.imagenesSection {
    display: block;
    overflow: hidden;
    position: relative;
    height: auto;
    
    &__img{
        position: relative;
        height: auto;
        transition: all 4s;
        overflow: hidden;

       &:hover {
        transform: scale(1.1);
} 
} 
}


// talles.html
.imagenes__talles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-family: $letraSubtitulo;
    font-size: 20px;
    color: black;
    padding: 20px 40px;
    overflow: hidden;
  }

.imagenes__img {
      @include ropa;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      align-content: flex-end;
      overflow: hidden;
  }