@import "./variables";
@mixin nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.sectionDos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    height: 105vh;
    overflow: hidden;

    &__first{
        @include nosotros;
        text-align: center;
        font-family: $letraSubtitulo;
        font-size: 20px;
        color: black;
}

    &__second{
        @include nosotros;

        &--img{
            box-shadow: 10px 2px 30px 2px #2b2929;
            padding: 0px;
}
}
}

.sectionCarousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.sectionTres{
    position: relative;
    font-style: normal;
    padding: 40px;
    width: 100%;
    color: $blanco;
    overflow: hidden;

    &__imagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;

    &-cuadro{
        display: inline-block;
        background-color: $colorBase;
        box-shadow: 10px 2px 30px 2px #2b2929;
        padding: 10px 0px;
        text-align: center;
        font-size: 20px;
        width: 300px;
        margin: 110px 60px;
}
}
}

    

