$blanco: #fff;
$letraTitulo: Arial, Helvetica, sans-serif;
$letraSubtitulo: Georgia, 'Times New Roman', Times, serif;
$naranja: rgba(175, 96, 85, 0.973);
$formulario: rgb(162, 201, 201);

$imagenDeFondo: (/*mapa-get*/
    imagen-repeat: no-repeat,
    imagen-size: cover,
    imagen-centro: center,
    letra: $letraTitulo,
);
