$blanco: #fff;
$letraTitulo: Arial, Helvetica, sans-serif;
$letraSubtitulo: Georgia, 'Times New Roman', Times, serif;
$naranja: #9182c4;
$colorBase: #d8aed3;

$imagenDeFondo: (/*mapa-get*/
    imagen-repeat: no-repeat,
    imagen-size: cover,
    imagen-centro: center,
    letra: $letraTitulo,
);
